{% extends 'base.html'%}
<!DOCTYPE html>
<html>

<body>
    <!-- Content block -->
    {% block content %}
    {% for new_articles in article %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 ">
        <img src="{{new_articles.urlToImage}}" style="width: 340px; ">
            <strong><h3>{{new_articles.title}}</h3></strong>
            <p>{{new_articles.description}}</p>
            <p><a href="{{new_articles.url}}">Read more</a></p>
            <p><strong>Published on {{new_articles.publishedAt}}</strong></p>
<hr>
        </div>
    </div>
    </div>
    {%endfor%}
</body>  
</html>    
{% endblock %}