{% extends 'base.html'%}

<!-- Content block -->
{% block content %}
<body>

        <center><h1> Welcome to the Home of the best news stories </h1></center>
        <center><p id ="fadeIn"><span class="first"><h2>YOUR ONE STOP TO</span> <br> <strong> ALL NEWS SOURCES</h2></strong></p></center>
        <hr>
            {%for source in sources%}
            <div class="container"">
                <div>
                    <table style = "width:100%">
                        
                        <tr>
                            <td>
                                <strong>&nbsp;&nbsp;{{source.name}}</strong><br><br>
                                <em>&nbsp;&nbsp;{{source.description}}</em><br><br>
                                <strong>&nbsp;&nbsp;<a href="/article/{{source.id}}"class="btn btn-info btn-md">View Article</a></strong><br><br><hr>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            
        </body>      

             {%endfor%}
             <style>
              body{
              background: url(static/photos/backgroundnews.jpg);
              background-position: 0 0;
              background-attachment: fixed;
              background-size: cover;
              font-family: 'Sansita';font-size: 22px;
             }
             </style>
    {% endblock %}
