{% import 'macros.html' as macro %}

<!-- Content block -->
{% block content %}
  
        <p> Welcome to The Home of the best news stories </p>
        <p id ="fadeIn"><span class="first">YOUR ONE STOP TO</span> <br> <strong> ALL NEWS SOURCES</strong></p>
<!-- body      -->
<div>
<h4 class="source_title">General News</h4>
<ul>
    {{macro.displayNewarticleList(general)}}
</ul>
</div>

<div>
    <h4 class="source_title">Business News</h4>
    <ul>
        {{macro.displayNewarticleList(business)}}
    </ul>
    </div>

<div>
<h4 class="source_title">Technology News</h4>
<ul>
    {{macro.displayNewarticleList(technology)}}
</ul>
</div>

<div>
    <h4 class="source_title">Sports News</h4>
    <ul>
        {{macro.displayNewarticleList(sports)}}
    </ul>
    </div>

    <div>
        <h4 class="source_title">Entertainment News</h4>
        <ul>
            {{macro.displayNewarticleList(entertainment)}}
        </ul>
        </div>
        
        <div>
            <h4 class="source_title">Science News</h4>
            <ul>
                {{macro.displayNewarticleList(science)}}
            </ul>
            </div>

{% endblock %}

