
<nav>
    <a class="navbrand" href="/"><h2 class = "brand" >THE NEWS HIGHLIGHTS</h2></a>
    
    <div>
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sronly">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/topheadlines">Top Headline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/everything">Articles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navdropdown">
            <a class="dropdown-item" href="/#general">General</a>
            <a class="dropdown-item" href="/#business">Business</a>
            <a class="dropdown-item" href="/#technology">Technology</a>
            <a class="dropdown-item" href="/#sports">Sports</a>
            <a class="dropdown-item" href="/#entertainment">Entertainment</a>
            <a class="dropdown-item" href="/#science">Science</a>
          </div>
        </li>
        <form class="form search">
            <input class="form-control " type="text" name="article_search" placeholder="Search the Articles"aria-label="Search">
            <button class="btn  btn-info" type="submit" value="Submit"><i class="fas fa-search"></i></button>
        </form>
      </ul>
    </div>
  </nav>